[project]
	description = MQTT Client Package - Java Language
	state = active
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/technology.paho
	create = group ldap/technology.paho
	forgeAuthor = group ldap/technology.paho
	push = group ldap/technology.paho
	pushMerge = group ldap/technology.paho
	label-Code-Review = -2..+2 group ldap/technology.paho
	label-IP-Clean = -1..+1 group ldap/technology.paho
	label-Verified = -1..+1 group ldap/technology.paho
	submit = group ldap/technology.paho
[access "refs/tags/*"]
	create = group ldap/technology.paho
	push = group ldap/technology.paho
	pushTag = group ldap/technology.paho
	pushSignedTag = group ldap/technology.paho
